@media (max-width: 1400px)
    .menu
        &_link
            font-size: 12px
    
    .header
        &_tiktok
            margin-left: 50px

@media (max-width: 1200px)
    .menu
        padding-left: 0
        &_link
            font-size: 11px
    
    .header
        &_tiktok
            margin-left: 50px
        &_prem
            width: 160px
            font-size: 10px
            line-height: 10px
    